<%= form_for @admin, :url => admins_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		       	<h4 class="modal-title" id="myModalLabel">New Session:</h4>
		    </div>
		    <div class="modal-body">
		    	<div class="form-group">
    				<%= f.label :topic, 'Topic' %><br/>
    				<%= f.text_field :topic %><br/>
  				</div>
  				<div class="form-group">
    				<%= f.label :speaker, 'Speaker' %><br/>
    				<%= f.text_field :speaker %><br/>
  				</div>
  				<div class="form-group">
    				<%= f.label :time, 'Time' %><br/>
    				<%= f.time_select :time %><br/>
  				</div>
  				<%= f.button :submit %>
		    </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<%end%>